In [1]:
import numpy as np
import pandas as pd

/home/vinod/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

#### Q1 Product Info : Write a Python program to calculate the total sales, average sales price, and the standard deviation of sales prices. Additionally, identify the product with the highest and lowest average sales price.

In [2]:
prod_sal= pd.read_csv('product-info.csv')

In [33]:
prod_sal['Price'].describe()

count    10.000000
mean     46.490000
std      29.911908
min       9.990000
25%      21.240000
50%      44.990000
75%      63.740000
max      99.990000
Name: Price, dtype: float64

In [9]:
Total_sales= prod_sal['Price'].sum()

In [10]:
Avg_sales= prod_sal['Price'].mean()

In [11]:
Std_sales= prod_sal['Price'].std()

In [16]:
print("Total sales:", Total_sales, ",Avg sales:", Avg_sales , ",Standard Deviation of sale price:", Std_sales)

Total sales: 464.9 ,Avg sales: 46.49 ,Standard Deviation of sale price: 29.91190769948019

In [17]:
 prod_sal['Price'].max()

99.99

In [18]:
 prod_sal['Price'].min()

9.99

#### Q2 customer-satisfaction  : Create a Python program to calculate the mean, median, and mode of the satisfaction ratings. Analyze the data by grouping it by age groups and gender to identify any trends

In [ ]:

cust= pd.read_csv('customers.csv')

In [20]:
cust

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

#### Q3 house-info : Develop a Python program to calculate the first, second (median), and third quartiles of house prices. Also, compute the interquartile range (IQR) and identify any outliers in the dataset.

In [21]:
house = pd.read_csv('house-info.csv')

In [22]:
house

    House ID  Location  Number of Bedrooms  Square Footage     Price
0          1  Suburban                   3            1800  $350,000
1          2     Urban                   2            1200  $280,000
2          3     Rural                   4            2500  $400,000
3          4  Suburban                   3            1600  $320,000
4          5     Urban                   1             800  $200,000
5          6     Rural                   5            3000  $450,000
6          7  Suburban                   2            1400  $290,000
7          8     Urban                   3            1600  $310,000
8          9     Rural                   4            2800  $420,000
9         10  Suburban                   3            1700  $330,000
10        11     Urban                   2            1100  $270,000
11        12     Rural                   5            3200  $470,000
12        13  Suburban                   3            1500  $900,000
13        14     Urban                   1             900  $210,000
14        15     Rural                   4            9600  $410,000
15        16  Suburban                   3            1800  $340,000
16        17     Urban                   2            1200  $280,000
17        18     Rural                   5            2500  $400,000
18        19  Suburban                   3            1600  $320,000
19        20     Urban                   1             800  $200,000
20        21     Rural                   4            3000  $950,000
21        22  Suburban                   2            1400  $290,000
22        23     Urban                   3            1600  $310,000
23        24     Rural                   4            2800  $420,000
24        25  Suburban                   3            1700  $330,000

In [25]:
house['Price'].describe()

count           25
unique          17
top       $420,000
freq             2
Name: Price, dtype: object

In [31]:
house['Price1'] = house['Price'].replace('[\$,]', '', regex=True).astype(int)

In [32]:
house['Price1'].describe()

count        25.000000
mean     378000.000000
std      180231.332829
min      200000.000000
25%      290000.000000
50%      330000.000000
75%      410000.000000
max      950000.000000
Name: Price1, dtype: float64

In [45]:
quant1 = house['Price1'].quantile(0.25)

In [39]:
quant2 = house['Price1'].quantile(0.5)

In [40]:
quant2_m = house['Price1'].median()

In [38]:
quant3 = house['Price1'].quantile(0.75)

In [46]:
Interquat = quant3 - quant1

In [49]:
print("Q1 :", quant1, "Q2 :", quant2_m,  "Q3 :", quant3)
print("Interquartile Range :", Interquat)

Q1 : 290000.0 Q2 : 330000.0 Q3 : 410000.0
Interquartile Range : 120000.0

In [53]:
Out1 = quant1 - 1.5 * Interquat
Out2 = quant3 + 1.5 * Interquat
outliers = house[(house['Price1'] < Out1) | (house['Price1'] > Out2)]

print("Outliers in  data:")
print(outliers)

Outliers in  data:
    House ID  Location  Number of Bedrooms  Square Footage     Price  Price1
12        13  Suburban                   3            1500  $900,000  900000
20        21     Rural                   4            3000  $950,000  950000

#### Q4 visitor-info : Create a Python program to analyze the average, minimum, and maximum number of visitors per day. Investigate the relationship between bounce rate and conversion rate using correlation analysis

In [54]:
vistor = pd.read_csv('visitor-info.csv')

In [55]:
vistor

,Date,Number of Visitors,Average Session Duration (seconds),Bounce Rate (%),Conversion Rate (%)
0,2023-12-01,5000,120,25,2.0
1,2023-12-02,4500,130,22,3.0
2,2023-12-03,5500,115,28,1.5
3,2023-12-04,6000,125,20,2.5
4,2023-12-05,4800,135,23,2.0
5,2023-12-06,5200,120,25,2.2
6,2023-12-07,4700,130,22,2.8
7,2023-12-08,5600,115,28,1.7
8,2023-12-09,6200,125,20,2.7
9,2023-12-10,4900,135,23,2.1
10,2023-12-11,5100,120,25,2.3
11,2023-12-12,4600,130,22,2.9
12,2023-12-13,5400,115,28,1.8
13,2023-12-14,6100,125,20,2.6
14,2023-12-15,5000,135,23,2.2
15,2023-12-16,4500,120,25,2.4
16,2023-12-17,5500,130,22,2.7
17,2023-12-18,6000,115,28,1.6
18,2023-12-19,4800,125,20,2.5
19,2023-12-20,5200,135,23,2.1
20,2023-12-21,4700,120,25,2.3
21,2023-12-22,5600,130,22,2.9
22,2023-12-23,6200,115,28,1.8
23,2023-12-24,4900,125,20,2.6
24,2023-12-25,5100,135,23,2.2
25,2023-12-26,4600,120,25,2.4
26,2023-12-27,5400,130,22,2.7
27,2023-12-28,6100,115,28,1.6
28,2023-12-29,5000,125,20,2.5

In [64]:
Avg=vistor['Number of Visitors'].mean()

In [65]:
mini = vistor['Number of Visitors'].min()

In [66]:
 maxi= vistor['Number of Visitors'].max()

In [68]:
coorelat = vistor['Bounce Rate (%)'].corr(vistor['Conversion Rate (%)'])

In [69]:
print("Average no. vistors :", Avg, "Minimun no. vistors :", mini, "Maximun no. vistors :", maxi)
print("relationship between bounce rate and conversion  :", coorelat)
print ("Negative correlated")

Average no. vistors : 5248.275862068966 Minimun no. vistors : 4500 Maximun no. vistors : 6200
relationship between bounce rate and conversion  : -0.8166050475362996
Negative correlated

#### Q5 Purchase-info : Develop a Python program to calculate the average purchase amount for each category. Also, find the most frequent purchase category and the customer who made the most purchases.

In [71]:
pur = pd.read_csv('purchase-info.csv')

In [72]:
pur

    Customer ID  Purchase Amount Purchase Date     Category
0          1001               50    2023-12-01  Electronics
1          1002               25    2023-12-02     Clothing
2          1003               75    2023-12-03   Home Goods
3          1004               40    2023-12-04  Electronics
4          1005               30    2023-12-05     Clothing
5          1006               60    2023-12-06   Home Goods
6          1007               20    2023-12-07  Electronics
7          1008               55    2023-12-08     Clothing
8          1009               80    2023-12-09   Home Goods
9          1010               35    2023-12-10  Electronics
10         1011               28    2023-12-11     Clothing
11         1012               65    2023-12-12   Home Goods
12         1013               18    2023-12-13  Electronics
13         1014               52    2023-12-14     Clothing
14         1015               78    2023-12-15   Home Goods
15         1016               32    2023-12-16  Electronics
16         1017               26    2023-12-17     Clothing
17         1018               63    2023-12-18   Home Goods
18         1019               16    2023-12-19  Electronics
19         1020               54    2023-12-20     Clothing
20         1021               76    2023-12-21   Home Goods
21         1022               34    2023-12-22  Electronics
22         1023               27    2023-12-23     Clothing
23         1024               62    2023-12-24   Home Goods
24         1025               17    2023-12-25  Electronics
25         1026               53    2023-12-26     Clothing
26         1027               75    2023-12-27   Home Goods
27         1028               35    2023-12-28  Electronics
28         1029               28    2023-12-29     Clothing
29         1030               65    2023-12-30   Home Goods

In [74]:
Avg_purch_cat= pur.groupby('Category')['Purchase Amount'].mean().round(2)

In [75]:
Avg_purch_cat

Category
Clothing       37.8
Electronics    29.7
Home Goods     69.9
Name: Purchase Amount, dtype: float64

In [84]:
most_purchase_cat = pur['Category'].max()

In [82]:
most_purchase_cat

'Home Goods'

In [85]:
pur['Category'].value_counts()

Electronics    10
Clothing       10
Home Goods     10
Name: Category, dtype: int64

In [87]:
print("All three category are equally purchased")

All three category are equally purchased

In [99]:
custm= pur.groupby('Customer ID')['Purchase Amount'].sum()

In [103]:
id1 = custm.idxmax()

In [104]:
print(" All customer made equal purchasmes,but the customer with id" , id1 , "spend maximum amout")

 All customer made equal purchasmes,but the customer with id 1009 spend maximum amout